<h1>Burger!</h1>

<div class="eaten">
  <h2>Eaten Burger!</h2>
  <ul>
    {{#each burgers}}
    {{#if devoured}}
    {{!-- data is comming from the partials --}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
  </ul>
</div>

<div class="menu">
  <h2>Burger in the menu</h2>

  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}

    {{/unless}}
    {{/each}}
  </ul>

</div>

<div class="add">
  <h2>Add a burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="burger-name">Burger Name:</label>
      <input type="text" id="burger" name="name">
    </div>

    <div class="form-group">
      <label for="hungry">Hungry?</label><br>
      <input type="radio" name="devoured" value="0" checked> I wanted in the menu.<br>
      <input type="radio" name="devoured" value="1"> I want to eat the burger.
    </div>

    <button type="submit" class="submit-burger">Add burger</button>
  </form>
</div>