<h1>Burger!</h1>

<h2>Eaten Burger!</h2>
<ul>
  {{#each burgers}}
    {{#unless devour}}
      
    {{/unless}}
  {{/each}}
</ul>

<h2>Burger in the food menu</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
     
    {{/if}}
  {{/each}}
</ul>
